@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.homeCarfaxGradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(2, 0, 36, 0.3) 21%,
    rgba(121, 49, 9, 0.2) 45%,
    rgba(255, 194, 0, 0) 100%
  );
}
.homeContactGradient {
  background: rgb(255, 70, 5);
  background: linear-gradient(
    90deg,
    rgba(255, 70, 5, 1) 0%,
    rgba(69, 76, 137, 1) 37%
  );
}
.ourDifferencesGradient {
  background: rgb(255, 70, 5);
  background: linear-gradient(
    90deg,
    rgba(255, 70, 5, 0) 0%,
    rgba(255, 70, 5, 0.1) 50%,
    rgba(255, 70, 5, 0) 100%
  );
}
.orderCarGradient {
  background: rgb(34, 39, 50);
  background: linear-gradient(
    90deg,
    rgba(34, 39, 50, 0) 0%,
    rgba(34, 39, 50, 0.1) 16%,
    rgba(34, 39, 50, 0.15) 27%,
    rgba(34, 39, 50, 0.2) 44%,
    rgba(255, 70, 5, 0.25) 64%,
    rgba(255, 70, 5, 0) 100%
  );
}
.paymentProcessCardGradient{
  background: white;
  transition: all 300ms ease;
}
.paymentProcessCard:hover .paymentProcessCardGradient {
  background: rgb(247, 107, 28);
  background: linear-gradient(
    90deg,
    rgba(247, 107, 28, 1) 0%,
    rgba(250, 217, 97, 1) 100%
  );
}
.homeHero .swiper-pagination {
  left: 40px !important;
  width: auto !important;
}

.homeHero .swiper-pagination .swiper-pagination-bullet {
  width: 20px !important;
  height: 10px !important;
  border-radius: 10px !important;
  border: 1px solid rgba(128, 128, 128, 0.5) !important;
  background: white !important;
  opacity: 1 !important;
}
.homeHero .swiper-pagination .swiper-pagination-bullet-active {
  background: #ff7a00 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
